@import "open-props/style";
@import "open-props/normalize";
@import "open-props/buttons";

body {
  margin: 0px;
  color: #333;
  background: var(--gray-1);
  font-family: Inter;
}

h1 {
  font-size: var(--size-7);
  margin-bottom: var(--size-4);
}

a, a:visited {
  color: var(--gray-7);
}

section {
  margin-bottom: 4rem;
}

form input, form select, form textarea {
  padding: 4px;
  border-radius: 5px;
  border: solid 1px #888;
  background: white;
}

form button, .button {
  background: var(--cyan-3);
  color: #444;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
}

form label {
  display: flex;
  flex-direction: column;
}

form .error {
  border-color: var(--red-4);
}

form.full {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 80ch;
}

form.full textarea {
  min-height: 20ch;
}

.badge {
  background: #ccc;
  padding: 4px 15px;
  border-radius: var(--radius-2);
  display: inline-block;
  text-transform: lowercase;
}

table { 
  width: 100%; 
  border-collapse: separate;
  border-spacing: 0;
  margin: 10px 0;
  background: #fff;
}

/* rounded corners */
table thead tr:first-of-type th:first-of-type {
  border-top-left-radius: 5px;
}

table thead tr:first-of-type th:last-of-type {
  border-top-right-radius: 5px;
}

table tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 5px;
}

table tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 5px;
}

/* Zebra striping */
tr:nth-of-type(odd) { 
  background: var(--gray-1); 
}

th { 
  background: var(--gray-7); 
  color: white; 
  font-weight: bold; 
  border: 1px solid var(--gray-7);
}

td, th { 
  padding: 8px; 
  text-align: left; 
}

td { 
  border: 1px solid #ccc; 
  border-top: none;
  border-right: none;
}

tr td:last-of-type {
  border-right: 1px solid #ccc;
}

.pager {
  display: flex;
  gap: var(--size-1);
}

header {
  background: var(--cyan-3);
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
} 

header > a {
  font-weight: bold;
}

header nav {
  display: flex;
}

header a {
  padding: 10px;
  font-size: 1.2rem;
  text-decoration: none;
  color: #444;
}

header nav a {
  font-size: 1rem;
}

main {
  padding: 2rem;
}

.stats {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.stat {
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 10px;
  background: #cdcfcf;
  border-radius: 5px;
  width: 140px;
}

.stat a {
  text-decoration: none;
  color: #444;
  display: block;
  text-align: right;
}

.stat span {
  font-size: 2rem;
  display: block;
  text-align: right;
}

.stats .number {
  text-align: right;
}
